/* NAVIGATION STYLES */
.site--navigation{
    border-bottom: var(--border-style);
    background-color: var(--neutral-clr-dark);
}

.navigation--container{
    margin: auto;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--list{
    display: flex;
    gap: 12px;
}

.nav--hamburger{
    z-index:1000;
    cursor: pointer;
    position:relative;
    width: 40px;
    height: 30px;
}

.bar{
    position:absolute;
    /* margin: .625em 0; */
    border: 2px solid var(--accent-clr);
    width: 100%;
    border-radius: 8px;

    /* transition:cubic-bezier(0.785, 0.135, 0.15, 0.86) all 250ms; */
}

.nav--hamburger .bar:nth-child(1){
    top:0;
}
.nav--hamburger .bar:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
.nav--hamburger .bar:nth-child(3){
    bottom:0;
}

.nav--hamburger.active .bar:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
    left: 0;
}
.nav--hamburger.active .bar:nth-child(2){
    opacity:0;
}
.nav--hamburger.active .bar:nth-child(3){
    transform: rotate(-45deg);
    bottom: 40%;
    left: 0;
}



@media screen and (min-width: 868px) {
    .nav--hamburger{
        display:none;
    }
}