{% extends 'base.html' %}

{% block title_page %} {{ block.super }} - {{post.name}} {% endblock title_page %}

{% block content %}


    <a href="{% url 'home' %}">Back</a>

    <div class="title--container flex-col flex-gap-xl title--spacing">

        <div class="flex-col flex-gap-sm">
            <h1 class="postdetail--name headersize">{{post.name}}</h1>
            <p class="post--author">Created By: {{post.author}}</p>
        </div>
            <!-- <p class="post--description">{{post.description}}</p> -->
        <div class="posttags--container">
            {% for tag in post.tags.all %}

                <p class="tag">{{tag.name}}</p>
            {% endfor %}
         </div>
    </div>

    <section class="postdetail--content flex-col flex-gap-md">
        <h2 class="titlesize">Entries</h2>

        <section class="entrylist--container">
            {% for entry in entries %}
            <a href="{% url 'entry' post.id entry.id %}">                
                <div class="entrycard">
                    <img  class="entrycard--image" src="{{entry.image.url}}" alt="{{entry.name}}">
                    <div class="entrycard--content">
                        
                        <div class="entrycard--info--container flex-col flex-gap-xs">
                            <p class="entrycard--title">{{ entry.name }}</p>
                            <p class="entrycard--rating">{{entry.get_average}}</p>
                            <p>{{ entry.get_total_inputs }} ratings</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </section>

{% endblock %}