{% extends 'base.html' %}

{% block title_page %} {{ block.super }} - Rate {{post_entry.name}} {% endblock title_page %}

{% block content %}


    <h1>Profile of {{profile.user.username}} </h1>
    <img  class="post-entry--thumbnail" src="{{profile.profile_url.url}}" alt="{{profile.user.username}}">

    <div class="posts--container">
        {% for post in posts  %}
        <a href="{% url 'post' post.id %}">
            <div class="post card">
                <div class="post--header">
                    <h2 class="post--title">{{ post.name }}</h2>
                    <p class="secondary-text post--author">By: {{ post.author }}</p>
                    
                    <div class="posttags--container">
                        {% for tag in post.tags.all %}
    
                            <p class="tag">{{tag.name}}</p>
                        {% endfor %}
                    </div>
                </div>

                
                <div class="post--content">

                    <div class="topentries--container">
                        {% for entry in post.tierlistentry_set.all|slice:":3" %}
                            <div class="entries--container">
                                <img class="entries--container--img" src="{{entry.image.url}}" alt="{{entry.name}}">
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}