{% load static %}

<link rel="stylesheet" href="{% static 'css/widgets/navbar.css' %}">

<header class="site--navigation">
    <nav class="navigation--container">
        <div class="sidebar--logo">
            <p>TIERLISTIFY</p>
        </div>
        <div class="nav--options">


            {% if user.is_authenticated %}
            {% csrf_token %}
                <ul class="nav--list">
                    <p>Welcome {{ user.username }}</p>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    <!-- TODO: Setup Profile -->
                </ul>
            {% else %}
                <ul class="nav--list">
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                </ul>
            {% endif %}
        </div>

        <div class="nav--hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
</header>